body {
  margin: 0px;
}

.svg-div {
  width: 100%;
  height: auto;
  position: absolute;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  overflow: hidden;
}

svg {
  width: 100%;
  background-repeat: repeat no-repeat;
  overflow: hidden;
}

.wave-div-wrapper {
  display: flex;
  width: 100%;
}

.title {
  margin: 0px 5px;
  margin-left: 8%;
  color: white;
}

.header-outer-div {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin: 4% 0%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-div {
  margin-right: 8%;
  display: flex;
}

.date-input {
  height: 6vh;
  margin-right: 1vw;
  text-align: center;
  border-radius: 4px;
  padding: 4px 10px;
}

.search-button {
  width: 10vw;
}

/* Content CSS Styling */
.content-main-div {
  display: flex;
  margin: 180px 8% 0px 8%;
  position: absolute;
  width: 85%;
  background-color: white;
  border-radius: 5px;
  height: 60%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* Data section styling */
.content-data-div {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 2%;
}

.picture-title {
  display: flex;
  color: black;
  margin: 2% 0%;
}

.explanation {
  height: 100%;
  overflow: auto;
}

/* Image Section Styling */
.content-image-div {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 2%;
}

.image {
  display: flex;
  height: 80%;
  margin: 2% 0%;
}

.author {
  display: flex;
  justify-content: flex-end;
}
